body{
    background-color:#DEDEDE;
    font-family: 'Roboto', sans-serif;
}

#language{
    display:none;
 }

.button-continue {
    background: rgb(0, 172, 37);
    background-image: -webkit-linear-gradient(top, rgb(0, 172, 37), rgba(0, 172, 37, 0.575));
    background-image: -moz-linear-gradient(top, rgb(0, 172, 37), rgba(0, 172, 37, 0.575));
    background-image: -ms-linear-gradient(top, rgb(0, 172, 37), rgba(0, 172, 37, 0.575));
    background-image: -o-linear-gradient(top, rgb(0, 172, 37), rgba(0, 172, 37, 0.575));
    background-image: linear-gradient(to bottom, rgb(0, 172, 37), rgba(0, 172, 37, 0.575));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 42px;
    font-weight: 100;
    padding: 10px;
    width: 250px;
    margin-left: 450px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid rgba(0, 172, 37, 0.575) 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    }
    
    .button-continue:hover {
    background: rgba(0, 172, 37, 0.575);
    background-image: -webkit-linear-gradient(top, rgba(0, 172, 37, 0.575), rgb(0, 172, 37));
    background-image: -moz-linear-gradient(top, rgba(0, 172, 37, 0.575), rgb(0, 172, 37));
    background-image: -ms-linear-gradient(top,  rgba(0, 172, 37, 0.575), rgb(0, 172, 37));
    background-image: -o-linear-gradient(top, rgba(0, 172, 37, 0.575), rgb(0, 172, 37));
    background-image: linear-gradient(to bottom, rgba(0, 172, 37, 0.575), rgb(0, 172, 37));
    text-decoration: none;
    } 

.panel-heading{
    background: #DEDEDE;
}

.title-header {
    background: rgb(0, 0, 0);
    margin-top: 0px;
    color: #FFFFFF;
}

.panel-title{
    font-size: 24px;
}
.panel-body{
    background: #DEDEDE;
}
.table{
    background: #DEDEDE;
}

.cursor-pointer{
    cursor: pointer;
}
